<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/admin/browse.css">
    <title>Browser Admin</title>
</head>
<body>
    <div class="page-container">
      <div class="logo">
        <img src="/assets/img/logo.png" class="morent">
      </div>
      <header class="navbar">
        <div class="nav-left">
          <!-- nambah link -->
          <div class="nav-item">
            <a href="/admin">HOME</a>
          </div>
          <div class="nav-item active" >
            <a href="/admin/manage-movie">MANAGE FILM</a>
          </div>
          <div class="nav-item">
            <a href="/admin/manage-genres">GENRE & ACTOR</a>
          </div>
          <div class="nav-item" >
            <a href="/admin/report">GRAPH & REPORT</a>
          </div>
        </div>
        <div class="nav-right">
          <img src ="/assets/svg/user-avatar.svg" class="avatar">
          <a href="/logout">
            <img src="/assets/svg/logout-icon-admin.svg" class="icon-logout">
          </a>
        </div>

        <!-- nambah link -->
      </header>
        
      <main class="main-content">
        <div class="card-container">
          <div class="card">
            <div class="image-placeholder">
                <img src="/src/main/" alt="">
            </div>
            <p>Deadpool & Wolverine</p>
            <p class="stock">Stock:0</p>
          </div>
          <div class="card">
            <div class="image-placeholder">
                <img src="assets/img/interstellar.jpg" alt="">
            </div>
            <p>Interstellar</p>
            <p class="stock">Stock:0</p>
          </div>
          <div class="card">
            <div class="image-placeholder">
                <img src="assets/img/fightclub.jpg" alt="">
            </div>
            <p>Fight Club</p>
            <p class="stock">Stock:0</p>
          </div>
          <div class="card">
            <div class="image-placeholder">
                <img src="assets/img/forrestgump.jpg" alt="">

            </div>
            <p>Forrest Gump</p>
            <p class="stock">Stock:0</p>
          </div>
          <div class="card">
            <div class="image-placeholder">
                <img src="assets/img/pulpfiction.jpg" alt="">
            </div>
            <p>Pulp Fiction</p>
            <p class="stock">Stock:0</p>
          </div>
          <div class="card">
            <div class="image-placeholder">
                <img src="assets/img/thegodfather.jpg" alt="">
            </div>
            <p>The God Father</p>
            <p class="stock">Stock:0</p>
          </div>
          <div class="card">
            <div class="image-placeholder">
                <img src="assets/img/12angrymen.jpg" alt="">
            </div>
            <p>12 Angry Men</p>
            <p class="stock">Stock:0</p>
          </div>
          <div class="card">
            <div class="image-placeholder">
                <img src="assets/img/lordoftherings.jpg" alt="">
            </div>
            <p>Lord of The Rings</p>
            <p class="stock">Stock:0</p>
          </div>
          <div class="card">
            <div class="image-placeholder">
                <a href="/movie-detail">
                  <img src="assets/img/venomlastdance.png" alt="">
                </a>
            </div>
            <p>Venom: The Last Dance</p>
            <p class="stock">Stock:0</p>
          </div>
        </div>
        <div class="add-film">
          <a href="/admin/add-movie"><button>Add Film +</button></a>
        </div>
      </main>
    </div>
</body>
</html>