<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/admin/editGenre.css">
    <title>Edit Genre</title>
</head>
<body>
    <div class="page-container">
        <!-- Logo Section -->
        <div class="logo">
            <img src="/assets/img/logo.png" class="morent">
        </div>
        <header class="navbar">
          <div class="nav-left">
            <!-- nambah link -->
            <div class="nav-item">
              <a th:href="@{/admin}">HOME</a>
            </div>
            <div class="nav-item">
              <a th:href="@{/admin/current-rentals}">RENTALS</a>
            </div>
            <div class="nav-item" >
              <a th:href="@{/admin/manage-movie}">MANAGE FILM</a>
            </div>
            <div class="nav-item active">
              <a th:href="@{/admin/manage-genres}">GENRE & ACTOR</a>
            </div>
            <div class="nav-item" >
              <a th:href="@{/admin/report}">GRAPH & REPORT</a>
            </div>
          </div>
          <div class="nav-right">
          
            <a th:href="@{/logout}">
              <img src="/assets/svg/logout-icon-admin.svg" class="icon-logout">
            </a>
          </div>
          <!-- nambah link -->
        </header>
        <!-- Main Content Section -->
        <main class="main-content">
            <div class="form-container">
                <h1>Edit Genre</h1>
                <form th:action="@{/admin/genre/update}" method="POST">
                    <input type="hidden" name="genreId" th:value="${genre.genreId}">

                    <!-- Genre Name -->
                    <label for="genreName">Genre Name</label>
                    <input type="text" id="genreName" name="genreName" placeholder="Enter genre name" th:value="${genre.name}" required>

                    <!-- Genre Validity -->
                    <label for="genreValid">Valid</label>
                    <select id="genreValid" name="genreValid" required>
                        <option th:value="true" th:selected="${genre.valid} == true">Yes</option>
                        <option th:value="false" th:selected="${genre.valid} == false">No</option>
                    </select>

                    <!-- Buttons -->
                    <div class="button-group">
                        <button type="submit" class="save-button">Save</button>
                        <a href="/admin/manage-genres"><button type="button" class="cancel-button">Cancel</button></a>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>
</html>
