<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/admin/grafikJumlahFilm.css">
    <title>Penjualan</title>
    <script src="/js/admin/grafikJumlahFilm.js" defer></script>
    <!-- <script src="/js/admin/graph.js" defer></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="page-container">
        <div class="logo">
            <img src="/assets/img/logo.png" class="morent">
        </div>

        <header class="navbar">
            <div class="nav-left">
              <!-- nambah link -->
              <div class="nav-item">
                <a th:href="@{/admin}">HOME</a>
              </div>
              <div class="nav-item">
                <a th:href="@{/admin/current-rentals}">RENTALS</a>
              </div>
              <div class="nav-item" >
                <a th:href="@{/admin/manage-movie}">MANAGE FILM</a>
              </div>
              <div class="nav-item">
                <a th:href="@{/admin/manage-genres}">GENRE & ACTOR</a>
              </div>
              <div class="nav-item active" >
                <a th:href="@{/admin/report}">GRAPH & REPORT</a>
              </div>
            </div>
            <div class="nav-right">
              
              <a th:href="@{/}">
                <img src="/assets/svg/logout-icon-admin.svg" class="icon-logout">
              </a>
            </div>
            <!-- nambah link -->
          </header>

        <div class="main-content">
            <div class="center-container">
                <div class="tabs">
                    <button class="tab active" id="filmCountButton" onclick="window.location.href='/admin/film-graph';">By Jumlah Film</button>
                    <button class="tab" id="incomeButton" onclick="window.location.href='/admin/income-graph';">By Pemasukan</button>
                    <!-- <button class="download">Download PDF</button> -->
                </div>
                <div class="chart-container">
                    <div class="chart-header">
                        <span id="filmSewa">Film sewa</span>
                        <!-- <select class="year-select">
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select> -->
                    </div>
                    <canvas id="chart" th:attr="data-data=${data}"></canvas>
                </div>
            </div>
        </div>
    </div>
</body>
</html>