<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/HomepageAdmin.css">
    <link rel="stylesheet" href="/css/general.css">
    <title>Homepage Admin</title>

    <style>
        a {
            all: unset;
        }
    </style>

</head>
<body>
    <div class="page-container">

        <div class="logo">
          <img src="/assets/img/logo.png" class="morent">
        </div>

        <header class="navbar">
          <div class="nav-left">
            <!-- nambah link -->
            <div class="nav-item active">
              <a th:href="@{/admin}">HOME</a>
            </div>
            <div class="nav-item">
              <a th:href="@{/admin/current-rentals}">RENTALS</a>
            </div>
            <div class="nav-item" >
              <a th:href="@{/admin/manage-movie}">MANAGE FILM</a>
            </div>
            <div class="nav-item">
              <a th:href="@{/admin/manage-genres}">GENRE & ACTOR</a>
            </div>
            <div class="nav-item" >
              <a th:href="@{/admin/report}">GRAPH & REPORT</a>
            </div>
          </div>
          <div class="nav-right">
            
            <a th:href="@{/logout}">
              <img src="/assets/svg/logout-icon-admin.svg" class="icon-logout">
            </a>
          </div>
          <!-- nambah link -->
        </header>

        <div class="main-content">

            <div class="main-content-grid">
                <div class="main-container banyak-film">
                    <img src="/assets/svg/movie-recorder.svg" class="icon-main">
                    <p>Banyak film saat ini</p>
                    <p><span th:text="${bykFilm}"></span> film</p>
                </div>
                <div class="main-container total-pemasukan">
                    <img src="/assets/svg/money-bag.svg" class="icon-main">
                    <p>Total pemasukan saat ini</p>
                    <span th:text="${totalIncome}"></span>
                </div>
                <div class="main-container banyak-genre">
                    <img src="/assets/svg/theater-masks.svg" class="icon-main">
                    <p>Banyak genre saat ini</p>
                    <p><span th:text="${bykGenre}"></span> genre</p>
                </div>
                <div class="main-container banyak-aktor">
                    <img src="/assets/svg/people.svg" class="icon-main">
                    <p>Banyak aktor saat ini</p>
                    <p><span th:text="${bykAktor}"></span> aktor</p>
                </div>
                <div class="main-container film-terlaris">
                    <span class="title-container-film-terlaris">Film terlaris<p class="bulan-ini">bulan ini</p></span>
                    <div class="img-title-terlaris" ><img th:if="${titleTerlaris!=null}" th:src="'data:image/jpeg;base64,' + ${filmTerlaris.base64Poster}"></div> 
                    <span class="title-terlaris"  th:if="${titleTerlaris!=null}" th:text="${titleTerlaris}"></span>
                    <span class="title-terlaris none"  th:if="${titleTerlaris==null}">No rental yet</span>
                    <p th:if="${bykDisewa!=null}"><span th:text="${bykDisewa}"></span>x disewa</p>
                </div>
            </div>   
        </div> 
    </div>
</body>
</html>