<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/grafikPemasuk.css">
    <title>Penjualan</title>
    <script src="/js/admin/grafikPemasukan.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="page-container">

        <div class="logo">
            <p class="morent">MOREnt.</p>
        </div>

        <!-- Header Section -->
        <div class="header">
            <p class="dashboard-header">Grafik Penjualan</p>
            <img class="profile" src="/assets/svg/generic-avatar0.svg" />
        </div>

      <!-- Sidebar Section -->
        <div class="sidebar">
            <div class="navigation">
            <div class="menu-item dashboard">
                <img class="icon-dashboard" src="/assets/svg/home-20.svg" />
                <p class="nav-dashboard">Dashboard</p>
            </div>

            <div class="menu-item daftar-film">
                <img class="icon-film" src="/assets/svg/film.svg" />
                <p class="nav-daftar-umk">Daftar UMK</p>
            </div>

            <div class="menu-item genre-aktor">
                <img class="icon-genre-aktor" src="/assets/svg/folder-check0.svg" />
                <p class="nav-genre-aktor">Genre & Aktor</p>
                <!-- <span class="badge">13</span> -->
            </div>

            <div class="menu-item laporan">
                <img class="icon-laporan" src="/assets/svg/icon-graph0.svg" />
                <p class="nav-laporan">Laporan</p>
            </div>

            <div class="nav-divider">
                <hr class="solid" />
            </div>

            <div class="menu-item log-out">
                <img class="icon-log-out" src="/assets/svg/logout-040.svg" />
                <p class="nav-log-out">Log Out</p>
            </div>

            <div class="menu-item faq">
                <img class="icon-faq" src="/assets/svg/help-circle-contained0.svg" />
                <p class="nav-faq">FAQ</p>
            </div>
            </div>
        </div>

        <div class="main-content">
            <div class="tabs">
                <button class="tab">By Jumlah Film</button>
                <button class="tab active">By Pemasukan</button>
            </div>
            <div class="chart-container">
                <div class="chart-header">
                <span>Pemasukan</span>
                <select class="year-select">
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
                </div>
                <canvas id="chart"></canvas>
            </div>
            </div>
        </div>
        
    </div>
</body>
</html>