<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/manageActors.css">
    <link rel="stylesheet" href="/css/general.css">
    <title>Manage Actors</title>

</head>
<body>
    <div class="page-container">

        <div class="logo">
            <img src="/assets/img/logo.png" class="morent">
        </div>
  
        <header class="navbar">
            <div class="nav-left">
              <!-- nambah link -->
              <div class="nav-item">
                <a th:href="@{/admin}">HOME</a>
              </div>
              <div class="nav-item">
                <a th:href="@{/admin/current-rentals}">RENTALS</a>
              </div>
              <div class="nav-item " >
                <a th:href="@{/admin/manage-movie}">MANAGE FILM</a>
              </div>
              <div class="nav-item active">
                <a th:href="@{/admin/manage-genres}">GENRE & ACTOR</a>
              </div>
              <div class="nav-item" >
                <a th:href="@{/admin/report}">GRAPH & REPORT</a>
              </div>
            </div>
            <div class="nav-right">
              
              <a th:href="@{/logout}">
                <img src="/assets/svg/logout-icon-admin.svg" class="icon-logout">
              </a>
            </div>
            <!-- nambah link -->
          </header>
  
        <!-- main contents -->
        <div class="main-content">
            <header>
                <nav>
                    <ul class="nav-links">
                        <li><a href="/admin/manage-genres"><h1>Genre</h1></a></li>
                        <li><a href="/admin/manage-actors" class="active"><h1>Aktor</h1></a></li>
                    </ul>
                </nav>
            </header>
            <div class="container">
                <div class="header-row">
                    <!-- <h1>Manage Actors</h1> -->
                </div>
        
                <!-- Search Bar -->
                <div class="search-bar">
                    <form action="/admin/search-actors" method="GET">
                        <input type="text" name="actor_name" placeholder="Search Actor by Name" 
                               th:value="${param.actor_name}">
                        <button type="submit">Search</button>
                    </form>
                </div>
                <br>
                <a href="/admin/add-actor-page" class="add-button">+ Add New Actor</a>
        
                <!-- Actors Table -->
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>ID Actor</th>
                            <th>Actor Name</th>
                            <th>Valid</th>
                            <th class="action-head">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="actor : ${actors}">
                            <td th:text="${actor.actorId}"></td>
                            <td th:text="${actor.name}"></td>
                            <td th:text="${actor.valid ? 'Yes' : 'No'}"></td>
                            <td class="actions">
                                <a th:href="@{/admin/actor/{actorId}(actorId=${actor.actorId})}" class="btn btn-warning">
                                    Edit
                                </a>
                                <form th:action="@{/admin/change-valid-actor}" method="POST" class="inline-form">
                                    <input type="hidden" name="actorId" th:value="${actor.actorId}">
                                    <button 
                                        th:if="${actor.valid}"
                                        type="submit" 
                                        th:text="Disable" 
                                        class="btn-disable">
                                    </button>
                                    <button 
                                        th:if="${!actor.valid}"
                                        type="submit" 
                                        th:text="Enable" 
                                        class="btn-danger">
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        </div> 
    </div>
</body>
</html>