<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/manageActors.css">
    <link rel="stylesheet" href="/css/general.css">
    <title>Manage Actors</title>

</head>
<body>
    <div class="page-container">

        <div class="logo">
            <img src="/assets/img/logo.png" class="morent">
        </div>
  
        <header class="navbar">
            <div class="nav-left">
              <!-- nambah link -->
                <div class="nav-item">
                    <a href="/admin">HOME</a>
                </div>
                <div class="nav-item" >
                    <a href="/admin/manage-movie">MANAGE FILM</a>
                </div>
                <div class="nav-item active">
                    <a href="/admin/manage-genres">GENRE & ACTOR</a>
                </div>
                <div class="nav-item" >
                    <a href="/admin/report">GRAPH & REPORT</a>
                </div>
            </div>
            <div class="nav-right">
                <img src ="/assets/svg/user-avatar.svg" class="avatar">
                <a href="/logout">
                    <img src="/assets/svg/logout-icon-admin.svg" class="icon-logout">
                </a>
            </div>
            <!-- nambah link -->
        </header>
  
        <!-- main contents -->
        <div class="main-content">
            <header>
                <nav>
                    <ul class="nav-links">
                        <li><a href="/admin/manage-genres">Genre</a></li>
                        <li><a href="/admin/manage-actors" class="active">Aktor</a></li>
                    </ul>
                </nav>
            </header>
            <div class="container">
                <h1>Manage Aktor</h1>
                
                <!-- Search Bar -->
                <div class="search-bar">
                    <form action="/admin/search-actors" method="GET">
                        <input type="text" name="actor_name" placeholder="Search Actor by Name" 
                        th:value="${param.actor_name}" >
                        <button type="submit">Search</button>
                    </form>
                </div>
        
                <!-- Actors Table -->
                <table>
                    <thead>
                        <tr>
                            <th>ID Actor</th>
                            <th>Actor Name</th>
                            <th>Valid</th>
                            <th class="action-head">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td>1</td>
                            <td>Jason Statham</td>
                            <td class="actions">
                                <button>Edit</button>
                                <button>Delete</button>
                            </td>
                        </tr> -->
                        <!-- Add more actor rows here -->

                        <tr th:each="actor : ${actors}">
                            <td th:text="${actor.actorId}"></td>
                            <td th:text="${actor.name}"></td>
                            <td th:text="${actor.valid ? 'Yes' : 'No'}"></td>
                            <td class="actions">
                                <a th:href="@{/admin/actor/{actorId}(actorId=${actor.actorId})}">
                                    <button>Edit</button>
                                </a>
                                <form th:action="@{/admin/delete-actor}" method="POST">
                                    <!-- <input type="hidden" name="actorId" th:value="${actor.actorId}"> -->
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
        </div> 
    </div>
</body>
</html>