<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/admin/laporanBulanan.css">
    <title>Laporan Bulanan</title>
</head>
<body>
    <div class="page-container">
        <div class="logo">
            <img src="/assets/img/logo.png" class="morent">
        </div>

        <header class="navbar">
            <div class="nav-left">
              <!-- nambah link -->
              <div class="nav-item">
                <a th:href="@{/admin}">HOME</a>
              </div>
              <div class="nav-item">
                <a th:href="@{/admin/current-rentals}">RENTALS</a>
              </div>
              <div class="nav-item" >
                <a th:href="@{/admin/manage-movie}">MANAGE FILM</a>
              </div>
              <div class="nav-item">
                <a th:href="@{/admin/manage-genres}">GENRE & ACTOR</a>
              </div>
              <div class="nav-item active" >
                <a th:href="@{/admin/report}">GRAPH & REPORT</a>
              </div>
            </div>
            <div class="nav-right">
              <img src ="/assets/svg/user-avatar.svg" class="avatar">
              <a th:href="@{/}">
                <img src="/assets/svg/logout-icon-admin.svg" class="icon-logout">
              </a>
            </div>
            <!-- nambah link -->
          </header>
        
        <div class="main-content">
            <div class="upper-content">
                <div class="saldo-saldo-container">
                    <div class="container-saldo">
                        <img src="/assets/svg/money-bag.svg" class="logo-saldo">
                        <div class="saldo-title">
                        Total pemasukan saat ini
                        </div>
                        <div class="nominal-saldo">
                            <span th:text="${totalIncome}"></span>
                        </div>
                    </div>
                    <div class="container-saldo">
                        <img src="/assets/svg/money-bag2.svg" class="logo-saldo">
                        <div class="saldo-title">
                            Pemasukan anda bulan ini
                        </div>
                        <div class="nominal-saldo">
                            <span th:text="${monthlyIncome}"></span>
                        </div>
                    </div>
                    
                </div>
                <div class="date-picker-container">
                    <form method="get" action="/admin/monthly-report">
                        <div class="date-picker">
                            <label for="start-date">Tanggal Mulai:</label>
                            <input 
                                type="date" 
                                id="start-date" 
                                name="start-date" 
                                th:value="${startDate}" 
                            />
                        </div>
                
                        <div class="date-picker">
                            <label for="end-date">Tanggal Akhir:</label>
                            <input 
                                type="date" 
                                id="end-date" 
                                name="end-date" 
                                th:value="${endDate}" 
                            />
                        </div>
                
                        <div>
                            <button type="submit">Show Reports</button>
                        </div>
                    </form>
                </div>
                    
            </div>
            <div class ="buttons">
                <button class="download-btn" type="button">Download Report</button>
            </div>
            
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Email Penyewa</th>
                            <th>Judul Film</th>
                            <th>Tanggal Peminjaman</th>
                            <th>Tanggal Pengembalian</th>
                            <th>Pemasukan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="report, iterStat : ${reports}">
                            <td th:text="${iterStat.index + 1}"></td>
                            <td th:text="${report.emailPenyewa}"></td>
                            <td th:text="${report.judulFilm}"></td>
                            <td th:text="${report.tanggalPeminjaman}"></td>
                            <td th:text="${report.tanggalPengembalian ?: 'belum dikembalikan'}"></td>
                            <td th:text="${report.formattedPemasukan}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
    <!-- <script>
        document.addEventListener("DOMContentLoaded", function () {
            const startDateInput = document.getElementById('start-date');
            const endDateInput = document.getElementById('end-date');
    
            const currentDate = new Date();
            const year = currentDate.getFullYear();
            const month = currentDate.getMonth(); // Get the current month (0 for January, 1 for February, etc.)
    
            // Set the start date to the first day of the current month
            const startOfMonth = new Date(year, month, 1); // Start date: 1st day of this month
            const startMonthFormatted = startOfMonth.toLocaleDateString('en-CA'); // Format: YYYY-MM-DD
    
            // Set the end date to the last day of the current month
            const endOfMonth = new Date(year, month + 1, 0); // End date: Last day of this month
            const endMonthFormatted = endOfMonth.toLocaleDateString('en-CA'); // Format: YYYY-MM-DD
    
            // Set the values for the date inputs
            startDateInput.value = startMonthFormatted;
            endDateInput.value = endMonthFormatted;
        });
    </script> -->
    
</body>
</html>
