<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/admin/laporanBulanan.css">
    <link rel="stylesheet" href="/css/admin/pdfReport.css">
    <script src="/js/pdfReport.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" defer></script>
    <title>Laporan Bulanan</title>
</head>
<body>
    <div class="page-container">
        <div class="logo">
            <img src="/assets/img/logo.png" class="morent">
        </div>

        <header class="navbar">
            <div class="nav-left">
              <!-- nambah link -->
              <div class="nav-item">
                <a th:href="@{/admin}">HOME</a>
              </div>
              <div class="nav-item">
                <a th:href="@{/admin/current-rentals}">RENTALS</a>
              </div>
              <div class="nav-item" >
                <a th:href="@{/admin/manage-movie}">MANAGE FILM</a>
              </div>
              <div class="nav-item">
                <a th:href="@{/admin/manage-genres}">GENRE & ACTOR</a>
              </div>
              <div class="nav-item active" >
                <a th:href="@{/admin/report}">GRAPH & REPORT</a>
              </div>
            </div>
            <div class="nav-right">
              
              <a th:href="@{/logout}">
                <img src="/assets/svg/logout-icon-admin.svg" class="icon-logout">
              </a>
            </div>
            <!-- nambah link -->
          </header>
        
        <div class="main-content">
            <div class="upper-content">
                <div class="saldo-saldo-container">
                    <div class="container-saldo">
                        <img src="/assets/svg/money-bag.svg" class="logo-saldo">
                        <div class="saldo-title">
                        Total pemasukan saat ini
                        </div>
                        <div class="nominal-saldo">
                            <span th:text="${totalIncome}"></span> 
                        </div>
                    </div>
                    <div class="container-saldo">
                        <img src="/assets/svg/money-bag2.svg" class="logo-saldo">
                        <div class="saldo-title">
                            Pemasukan anda bulan ini
                        </div>
                        <div class="nominal-saldo">
                            <span th:text="${monthlyIncome}"></span>
                        </div>
                    </div>
                    
                </div>
                <div class="date-picker-container">
                    <form method="get" action="/admin/monthly-report">
                        <div class="date-picker">
                            <label for="start-date">Tanggal Mulai:</label>
                            <input 
                                type="date" 
                                id="start-date" 
                                name="start-date" 
                                th:value="${startDate}" 
                            />
                        </div>
                
                        <div class="date-picker">
                            <label for="end-date">Tanggal Akhir:</label>
                            <input 
                                type="date" 
                                id="end-date" 
                                name="end-date" 
                                th:value="${endDate}" 
                            />
                        </div>
                
                        <div>
                            <button type="submit">Show Reports</button>
                        </div>
                    </form>
                </div>
                    
            </div>
            <div class ="buttons">
                <button class="download-btn" type="button" id="download-pdf-report">Download Report</button>
            </div>
            
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Email Penyewa</th>
                            <th>Judul Film</th>
                            <th>Tanggal Peminjaman</th>
                            <th>Tanggal Pengembalian</th>
                            <th>Pemasukan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="report, iterStat : ${reports}">
                            <td th:text="${iterStat.index + 1}"></td>
                            <td th:text="${report.emailPenyewa}"></td>
                            <td th:text="${report.judulFilm}"></td>
                            <td th:text="${report.tanggalPeminjaman}"></td>
                            <td th:text="${report.tanggalPengembalian ?: 'belum dikembalikan'}"></td>
                            <td th:text="${report.formattedPemasukan}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
    <div class="pdf-report-container">
        <div class="pdf-report"> 
            <h1>MOREnt. Report</h1>
            <br>
            <p th:text="'Tanggal: ' + ${firstDay} + ' - ' + ${today}">Tanggal</p>
            <p th:text="'Pemasukkan: ' + ${incomeByDate}">Pemasukkan</p>
            <p th:text="'Total Rental: ' + ${rentalCount}">Total Rental</p>
            <br>
            <table class="report-table">
                <thead>
                    <tr>
                        <th>Kategori</th>
                        <th>Nama</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Film terlaris</td>
                        <td th:text="${title}">Film Name</td>
                    </tr>
                    <tr>
                        <td>Genre terpopuler</td>
                        <td th:text="${genre}">Genre Name</td>
                    </tr>
                    <tr>
                        <td>Actor terpopuler</td>
                        <td th:text="${actor}">Actor Name</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>
