<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/admin/laporanBulanan.css">
    <title>Laporan Bulanan</title>
</head>
<body>
    <div class="page-container">
        <div class="logo">
            <img src="/assets/img/logo.png" class="morent">
        </div>

        <header class="navbar">
            <div class="nav-left">
            <!-- nambah link -->
            <div class="nav-item">
                <a href="/admin">HOME</a>
            </div>
            <div class="nav-item" >
                <a href="/admin/manage-movie">MANAGE FILM</a>
            </div>
            <div class="nav-item">
                <a href="/admin/manage-genres">GENRE & ACTOR</a>
            </div>
            <div class="nav-item active" >
                <a href="/admin/report">GRAPH & REPORT</a>
            </div>

            </div>
            <div class="nav-right">
            <img src ="/assets/svg/user-avatar.svg" class="avatar">
            <a href="/logout">
                <img src="/assets/svg/logout-icon-admin.svg" class="icon-logout">
            </a>
            </div>
            <!-- nambah link -->
        </header>
        
        <div class="main-content">
            <div class="upper-content">
                <div class="saldo-saldo-container">
                    <div class="container-saldo">
                        <img src="/assets/svg/money-bag.svg" class="logo-saldo">
                        <div class="saldo-title">
                        Total pemasukan saat ini
                        </div>
                        <div class="nominal-saldo">
                            Rp.xxxx.xxx
                        </div>
                    </div>
                    <div class="container-saldo">
                        <img src="/assets/svg/money-bag2.svg" class="logo-saldo">
                        <div class="saldo-title">
                            Pemasukan anda bulan ini
                        </div>
                        <div class="nominal-saldo">
                            Rp.xxxx.xxx
                        </div>
                    </div>
                </div>
                <div class="date-picker-container">
                    <div class="date-picker">
                        <label for="start-date">Tanggal Mulai:</label>
                        <input type="date" id="start-date" value="2024-10-20">
                    </div>
                    
                    <div class="date-picker">
                        <label for="end-date">Tanggal Akhir:</label>
                        <input type="date" id="end-date" value="2024-10-20">
                    </div>
                </div>
            </div>

            <div class="table-container">
                <table>
                  <tr>
                    <th>No</th>
                    <th>Judul Film</th>
                    <th>Tanggal Peminjaman</th>
                    <th>Tanggal Pengembalian</th>
                    <th>Pemasukan</th>
                  </tr>
                  <tr>
                    <td>No HP</td>
                    <td>Nama UMK</td>
                    <td>Pemilik UMK</td>
                    <td>Tanggal Pengajuan</td>
                    <td>Detail UMK</td>
                  </tr>
                </table>
                
              </div>
        </div>
    </div>
</body>
</html>
