.page-container {
    display: grid;
    grid-template-areas:
      "logo header"
      "sidebar main";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
    height: 100vh;
  }
  p {
    font-family: "Inter-SemiBold", sans-serif;
    line-height: 100%;
    letter-spacing: -0.01em;
  }

  a {
    all: unset;
}

body{
    font-family: "Inter-SemiBold", sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    background-color: #2B2B2B;
    color: #FEC600;
}
  
.sidebar {
    grid-area: sidebar;
    background-color: #2B2B2B;
    padding: 20px;
}

.nav-genre-aktor {
    color: #FEC600;
    font-weight: bold;
}
  
.navigation {
    position: relative;
    inset: 0;
    display: flex;
    flex-direction: column;
    grid-area: nav;
    color: #b1b1b1;
}
  
.navigation > div {
    display: flex;
    column-gap: 15px;
    align-items: center;
}
  
.navigation img {
    width: 20px;
    height: 20px;
    overflow: visible;
}

.navigation img.icon-film{
    width: 23px;
    height: 23px;
}
  
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #2B2B2B;
    border-left:1px solid #202020;
}
  
.dashboard-header {
    font-weight: 600;
    font-size: 28px;
    color: #FEC600;
}

.main-content{
    background: linear-gradient(145deg, #121212, #1E1E1E);

}


/* Sidebar Navigation Items */
.navigation .menu-item {
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #cccccc;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.navigation .menu-item:hover {
    background-color: #4d4d4d;
    color: white;
    border-left: 4px solid #f5c518; 
}

.navigation .menu-item.active {
    background-color: #2c2c2c;
    color: #f5c518;
    font-weight: bold;
    border-left: 4px solid #f5c518;
}

.navigation .menu-item .icon {
    margin-right: 15px;
    font-size: 18px;
}
 .navigation .menu-item.laporan{
    margin-bottom: 10px;
 }
  
.icon {
    margin-right: 15px;
    font-size: 18px;
}

.solid{
    width: 180px;
}

/* below here is specified main content */
.title-container{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}
.main-content-grid{
    display: grid;
    grid-template-areas: 
    
    "banyak-film pemasukan film-terlaris"
    "genre aktor film-terlaris";
    gap:20px;
    color : #ffffff;
    grid-template-rows: repeat(2,1fr);
    box-sizing: border-box;
    font-family: "Inter-SemiBold", sans-serif; 
    height: 100%;
    font-size: 16px;
}
.main-content-grid span{
    font-size: 26px;
    color: #FEC600;
    font-weight: bold
}
.main-content-grid p{
    font-size: 16px;
}
.main-container{
    background-color: #2b2b2b;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
}

.main-container .icon-main{
    width: 70px;
    height: 70px;
}

.banyak-film{
    grid-area: banyak-film;
    justify-items: center;
}


.total-pemasukan{
    grid-area: pemasukan;
    justify-items: center;
}

/* .total-pemasukan img{
    
    background-color: #09B96D;
    opacity: 30%;
    padding: 10px;
    border-radius: 90px;
} */
.film-terlaris,.banyak-aktor,.banyak-film,.banyak-genre,.total-pemasukan{
    align-content: center;
    justify-items: center;
}
.banyak-genre{
    grid-area:genre;
    justify-items: center;
}

.banyak-aktor{
    grid-area: aktor;
    justify-items: center;
}

.film-terlaris{
    grid-area: film-terlaris;
    justify-items: center;
}
.film-terlaris>span>p{
    text-align: center;
    margin-top:5px;
}
.film-terlaris>span{
    color:white;
}
.img-title-terlaris{
    width: 80%;
    height: 65%;
    background-color: white;
    margin-bottom: 20px;
}

.main-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.icon-main{
    color: white;
}
.main-container {
    background: linear-gradient(145deg, #2B2B2B, #545454);
}

/* manage actors */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 10px 15px;
    background-color: #FFDC52;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.search-bar button:hover {
    background-color: #b19525;
    color: white;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f8f8f8;
}

table tr:hover {
    background-color: #f1f1f1;
}

.action-head {
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.actions button {
    font-size: 14px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: red;
    border-radius: 4px;
    color: white;
    border: none;
}

.actions button:hover {
    background-color: #c82333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links li a.active {
    color: #f1c40f;
}

.nav-links li a:hover {
    color: #f1c40f;
}
