<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user/userHistory-Lease.css">
  <title>User Profile</title>

  <!-- tambahan style buat link nya -->
  <style>
    a {
      all: unset;
      cursor: pointer;
    }
  </style>
  <!-- tambahan style buat link nya -->

</head>
<body>
  <a href="javascript:history.back()">
    <div class="back-btn"><img src="/assets/svg/back.svg">Back</div>
  </a>
  <div class="container">
    <div class="left-panel">
      <div class="profile">
        <img src="/assets/svg/user-avatar.svg" class="profile-pic">
        <h2>Nama</h2>
        <p>Sedang dipinjam: <span></span> film</p>
      </div>

      <!-- tambah link -->
      <div class="logout-btn">
        <a href="/login">
          <img src="/assets/svg/logout-icon-admin.svg">Log out
        </a>
      </div>
      <!-- tambah link -->

    </div>
    
    <div class="right-panel">
      <nav>
        <!-- tambah link -->
        <div class="tab">
          <a href="/rentals">SEDANG DIPINJAM</a>
        </div>
        <div class="tab active">
          <a href="/history" style="color: #FEC600;">HISTORY</a>
        </div>
        <!-- tambah link -->
      </nav>
      <div class="rental-info">
        <table>
          <tr th:each="rental : ${rentalHistory}">
            <td>
              <h2 th:text="${rental.title}"></h2>
              <p><strong>Rental ID: </strong><span th:text="${rental.rentalId}"></span></p>
              <p><strong>Tanggal sewa:</strong> <span th:text="${rental.formattedRentalDate}"></span></p>
              <p><strong>Tanggal dikembalikan:</strong> <span th:text="${rental.formattedReturnDate}"></span></p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
