<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user/userHistory-Lease.css">
  <title>User Profile</title>
</head>
<body>
  <div class="back-btn"><img src="/assets/svg/back.svg">Back</div>
  <div class="container">
    <div class="left-panel">
      <div class="profile">
        <img src="/assets/svg/user-avatar.svg" class="profile-pic">
        <h2>Nama</h2>
        <p>Sedang dipinjam: <span>30</span> film</p>
      </div>
      <div class="logout-btn"><img src="/assets/svg/logout-icon.svg">Log out</div>
    </div>
    
    <div class="right-panel">
      <nav>
        <div class="tab active">SEDANG DIPINJAM</div>
        <div class="tab">HISTORY</div>
      </nav>
      <div class="rental-info">
        <table>
          <tr>
            <td>
              <h2>Venom: The Last Dance</h2>
              <p><strong>ID:</strong> 6182201078</p>
              <p><strong>Tanggal mulai sewa:</strong> 28 Nov 2024</p>
              <p><strong>Tanggal akhir sewa:</strong> 28 Nov 2024</p>
            </td>
            <td>
              <p class="overdue">SISA WAKTU: <span class="red">OVERDUE!!</span></p>
            </td>
          </tr>
          <tr>
            <td>
              <h2>Venom: The Last Dance</h2>
              <p><strong>ID:</strong> 6182201078</p>
              <p><strong>Tanggal mulai sewa:</strong> 28 Nov 2024</p>
              <p><strong>Tanggal akhir sewa:</strong> 28 Nov 2024</p>
            </td>
            <td>
              <p class="overdue">SISA WAKTU: <span class="red">OVERDUE!!</span></p>
            </td>
          </tr>
          <tr>
            <td>
              <h2>Venom: The Last Dance</h2>
              <p><strong>ID:</strong> 6182201078</p>
              <p><strong>Tanggal mulai sewa:</strong> 28 Nov 2024</p>
              <p><strong>Tanggal akhir sewa:</strong> 28 Nov 2024</p>
            </td>
            <td>
              <p class="overdue">SISA WAKTU: <span class="red">OVERDUE!!</span></p>
            </td>
          </tr>
          <tr>
            <td>
              <h2>Venom: The Last Dance</h2>
              <p><strong>ID:</strong> 6182201078</p>
              <p><strong>Tanggal mulai sewa:</strong> 28 Nov 2024</p>
              <p><strong>Tanggal akhir sewa:</strong> 28 Nov 2024</p>
            </td>
            <td>
              <p class="overdue">SISA WAKTU: <span class="red">OVERDUE!!</span></p>
            </td>
          </tr>
          <tr>
            <td>
              <h2>Venom: The Last Dance</h2>
              <p><strong>ID:</strong> 6182201078</p>
              <p><strong>Tanggal mulai sewa:</strong> 28 Nov 2024</p>
              <p><strong>Tanggal akhir sewa:</strong> 28 Nov 2024</p>
            </td>
            <td>
              <p class="overdue">SISA WAKTU: <span class="red">OVERDUE!!</span></p>
            </td>
          </tr>
          <tr>
            <td>
              <h2>Venom: The Last Dance</h2>
              <p><strong>ID:</strong> 6182201078</p>
              <p><strong>Tanggal mulai sewa:</strong> 28 Nov 2024</p>
              <p><strong>Tanggal akhir sewa:</strong> 28 Nov 2024</p>
            </td>
            <td>
              <p class="overdue">SISA WAKTU: <span class="red">OVERDUE!!</span></p>
            </td>
          </tr>
          <tr>
            <td>
              <h2>Venom: The Last Dance</h2>
              <p><strong>ID:</strong> 6182201078</p>
              <p><strong>Tanggal mulai sewa:</strong> 28 Nov 2024</p>
              <p><strong>Tanggal akhir sewa:</strong> 28 Nov 2024</p>
            </td>
            <td>
              <p class="overdue">SISA WAKTU: <span class="red">OVERDUE!!</span></p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
