<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user/userHistory-Lease.css">
  <title>User Profile</title>

  <!-- tambahan style buat link nya -->
  <style>
    a {
      all: unset;
      cursor: pointer;
    }
  </style>
  <!-- tambahan style buat link nya -->

</head>
<body>
  <a href="javascript:history.back()">
    <div class="back-btn"><img src="/assets/svg/back.svg">Back</div>
  </a>
  <div class="container">
    <div class="left-panel">
      <div class="profile">
        <img src="/assets/svg/user-avatar.svg" class="profile-pic">
        <h2>Nama</h2>
        <p>Sedang dipinjam: film</p>
      </div>

      <!-- tambah link -->
      <div class="logout-btn">
        <a href="/login">
          <img src="/assets/svg/logout-icon.svg">Log out
        </a>
      </div>
      <!-- tambah link -->

    </div>
    
    <div class="right-panel">
      <nav>
        <!-- tambah link -->
        <div class="tab active">
          <a href="/rentals" style="color: #FEC600;">SEDANG DIPINJAM</a>
        </div>
        <div class="tab">
          <a href="/history">HISTORY</a>
        </div>
        <!-- tambah link -->

      </nav>
      <div class="rental-info">
        <table>
          <tr th:each="rental : ${rentals}">
            <td>
              <h2 th:text="${rental.title}"></h2>
              <p><strong>ID: </strong><span th:text="${rental.rentalId}"></span></p>
              <p><strong>Tanggal mulai sewa:</strong> <span th:text="${rental.formattedRentalDate}"></span></p>
              <p><strong>Tanggal akhir sewa:</strong> <span th:text="${rental.formattedDueDate}"></span></p>
            </td>
            <td>
              <p class="overdue">SISA WAKTU: <span class="red" th:text="${rental.remainingDays}"></span> hari</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
