
/* ----------------------------------------------------- */

.main-content {
    background-color: linear-gradient(145deg, #121212, #1E1E1E);
    padding: 15px; /* Dikurangi */
}

/* Tabs */
.tabs {
    display: flex;
    gap: 5px; /* Dikurangi */
    margin-bottom: 15px;
    justify-content: flex-start;
}
.tab {
    background-color: #2a2a2a;
    padding: 5px 15px; /* Lebih kecil */
    border-radius: 8px; /* Dikurangi */
    border: none;
    color: #cccccc;
    font-size: 12px; /* Lebih kecil */
    cursor: pointer;
}
.tab.active {
    background-color: #444;
    color: white;
}

/* Chart Container */
.chart-container {
    text-align: center;
    background-color: #2a2a2a;
    padding: 10px; /* Lebih kecil */
    font-size: 12px;
    width: 100%;
}
.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Dikurangi */
}
.year-select {
    background-color: #444;
    border: none;
    color: white;
    padding: 3px 8px; /* Lebih kecil */
    border-radius: 5px;
}

span#filmSewa {
    color: #cccccc;
}

.download {
    background-color: #FEC600; /* Bright yellow color */
    color: #121212; /* Dark text */
    font-size: 12px;
    font-weight: bold;
    padding: 5px 15px; /* Similar padding to tabs */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.download:hover {
    background-color: #f7b500; /* Darker yellow on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.main-content {
    display: flex;
    justify-content: center;
}

.center-container {
    display: inline-block;
    width: 75%;
}

.hidden {
    display: none;
}

#filmSewa {
    font-size: x-large;
    color: #FEC600!important;
}