.page-container {
    height: 100vh;
}



.main-content {
    background: linear-gradient(145deg, #121212, #1E1E1E);
    grid-area: main;
    margin: 20px 15%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}


/* below here is specified main content */
.title-container {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.main-content-grid {
    display: grid;
    grid-template-areas:

        "banyak-film pemasukan film-terlaris"
        "genre aktor film-terlaris";
    gap: 20px;
    color: #ffffff;
    grid-template-rows: repeat(2, 1fr);
    box-sizing: border-box;
    font-family: "Inter-SemiBold", sans-serif;
    height: 100%;
    font-size: 16px;
}

.main-content-grid span {
    font-size: 26px;
    color: #FEC600;
    font-weight: bold
}

.main-content-grid p {
    font-size: 16px;
}

.main-container {
    background-color: #2b2b2b;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
}

.main-container .icon-main {
    width: 70px;
    height: 70px;
}

.banyak-film {
    grid-area: banyak-film;
    justify-items: center;
}


.total-pemasukan {
    grid-area: pemasukan;
    justify-items: center;
}

/* .total-pemasukan img{
    
    background-color: #09B96D;
    opacity: 30%;
    padding: 10px;
    border-radius: 90px;
} */
.film-terlaris,
.banyak-aktor,
.banyak-film,
.banyak-genre,
.total-pemasukan {
    align-content: center;
    justify-items: center;
}

.banyak-genre {
    grid-area: genre;
    justify-items: center;
}

.banyak-aktor {
    grid-area: aktor;
    justify-items: center;
}

.film-terlaris {
    grid-area: film-terlaris;
    justify-items: center;
}

.film-terlaris>span>p {
    text-align: center;
    margin-top: 5px;
}

.film-terlaris>span {
    color: white;
}

.img-title-terlaris {
    width: 68%;
    height: 65%;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
}

.img-title-terlaris img {
    width: 100%;
}

.icon-main {
    color: white;
}

.main-container {
    background-color: #242424;
}

.title-terlaris.none {
    color: red;
}