.pdf-report-container {
    height: 0;
    overflow: hidden;
}

.pdf-report {
    padding: 4em;
    width: 800px;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2em;
}

.report-table th, .report-table td{
    border: 1px black solid;
    padding: 1em;
}

p {
    font-size: 1.2em;
}
