body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h2 {
    color: #ffc107;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 1000px;
    width: 100%;
}

.left-section,
.right-section {
    flex: 1;
}

.left-section {
    max-width: 400px;
}

.right-section {
    flex: 2;
}

.image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.image-preview {
    width: 200px;
    height: 300px;
    background-color: #333;
    border: 2px dashed #ffc107;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffc107;
    font-size: 16px;
    cursor: pointer;
}

.upload-button {
    background: none;
    color: #ffc107;
    border: 2px solid #ffc107;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.upload-button:hover {
    background-color: #ffc107;
    color: #121212;
}

.movie-form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.form-field {
    margin-bottom: 15px;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
}

.form-field textarea {
    resize: vertical;
    height: 100px;
}

label {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 5px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-group input {
    margin-right: 10px;
}

#selectedGenres, #selectedActors {
    margin-top: 10px;
    color: #ffc107;
    font-size: 14px;
}

.save-button {
    background: none;
    color: #ffc107;
    border: 2px solid #ffc107;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.save-button:hover {
    background-color: #ffc107;
    color: #121212;
}

.checkbox-group {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.checkbox-group label {
    color: black;
}

.selected-items {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    max-height: 150px;
    overflow-y: auto;
    color: #ffc107;
}

.selected-items ul {
    list-style-type: none;
    padding: 0;
}

.selected-items li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.checkbox-group input[type="checkbox"] {
    accent-color: #ffdd52; /* Custom color for the checkbox */
    border-radius: 4px; /* Rounds the checkbox itself */
}
