.confirmationPopUp {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmationPopUp > div {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15%;
    height: 15%;
    background-color: white;
    border-radius: .5em;
    padding: 1em;
}

.confirmationPopUpButton {
    margin: 10px 0;
    height: 3em;
    width: 10em;
    border-radius: 20em;
    border: none;
    background-color: #FFDC52;
}

.confirmationPopUpButton:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}