.page-container {
    display: grid;
    grid-template-areas:
        "logo nav"
        " main main";
    grid-template-columns: 250px 1fr;
    grid-template-rows: 130px 1fr;
    min-height: 100vh;
    background: linear-gradient(145deg, #121212, #1E1E1E);
}

p {
    font-family: "Inter-SemiBold", sans-serif;
    line-height: 100%;
    letter-spacing: -0.01em;
}

body {
    font-family: "Inter-SemiBold", sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
}

.morent {
    width: 220px;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 10px 60px;
    padding-left: 0;
    grid-area: nav;
    /*background-color: #1e1e1e;*/
}

/* Navbar styling */
.nav-item {
    font-size: 20px;
    cursor: pointer;
    color: white;
    position: relative;
    /* Dibutuhkan untuk pseudo-element */
    transition: color 0.3s ease;
}

.nav-item.active {
    color: #FEC600;
    text-shadow: 0 0 8px #FEC600, 0 0 15px #FEC600, 0 0 30px #FEC600;
    /* Efek cahaya halus ke tulisan */
}

.nav-right {
    margin-right: 10px;
}

.nav-item.active::after {
    content: '';
    position: absolute;
    bottom: -8px;
    /* Posisikan sedikit lebih jauh agar tidak terlalu dekat */
    left: 0;
    width: 100%;
    height: 3px;
    /* Lebih tipis agar tidak terlalu tebal */
    background-color: #FEC600;
    /* Warna kuning */
    border-radius: 2px;
    /* Membuat garis lebih halus */
    box-shadow: 0 0 5px 0px #FEC600;
    /* Efek cahaya halus */
    transition: all 0.3s ease;
    /* Animasi halus */
}

.nav-item:hover {
    color: #FEC600;
    /* Warna berubah saat hover */
}


.nav-left {
    display: flex;
    gap: 50px;
}

.nav-item.active {
    color: #FEC600;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-icon {
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 50%;
    border: 2px solid gold;
}

.main-content {
    grid-area: main;
}

.icon-logout {
    width: 35px;
}

a {
    all: unset;
}