* {
    font-family: sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #202020;
    position: relative;
    overflow: hidden;
}

.loginPageContainer {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    padding-top: 25vh;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
}

.loginContainer {
    background-color: white;
    border-radius: 12px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 50px;
}

.addHeight {
    height: 430px;
}

input, button.loginButton, form{
    font-size: 16px;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

input {
    margin: 10px 0;
    height: 40px;
    border-radius: 50px;
    border: 1px solid lightgray;
    text-indent: 12px;
}

button.loginButton {
    margin: 10px 0;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #FFDC52;
}

button.toRegister {
    padding: 8px;
    background-color: white;
    border: none;
    border-radius: 8em;
}

button.toRegister:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.registerLink {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.filmContainer {
    width: 100%;
    height: 1260px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.filmColumn {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

img {
    height: 300px;
    width: 200px;
    padding: 10px;
}

.filmColumn:nth-child(even) > img {
    animation: scrollUp 100s linear infinite;
}

.filmColumn:nth-child(odd) > img {
    animation: scrollDown 100s linear infinite;
}

.hidden {
    display: none;
}

@keyframes scrollUp {
    0% {
        transform: translateY(0); 
    }
    100% {
        transform: translateY(-1265px);
    }
}

@keyframes scrollDown {
    0% {
        transform: translateY(-1265px); 
    }
    100% {
        transform: translateY(0);
    }
}
