<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Browse UI</title>
  <link rel="stylesheet" href="css/browsePage.css">
  <script src="js/pengguna/browsePage.js" defer></script>
  
  <!-- tambahan style buat link nya -->
  <style>
    a {
      all: unset;
      cursor: pointer;
    }
  </style>
  <!-- tambahan style buat link nya -->

</head>
<body>

  <dialog id="filter-dialog">
    <div class="filter-container">
        <div class="filter-section">
            <div class="filter-header">
                <input type="text" id="actor-search" placeholder="Search Actor..." class="filter-input">
            </div>
            <div class="filter-options" id="actor-options">
                <!-- looping untuk actors-->
                <th:block th:each="actor : ${actors}">
                    <label>
                        <input type="checkbox" th:value="${actor.actorId}" /> 
                        <span th:text="${actor.name}"></span>
                    </label>
                </th:block>
            </div>
        </div>

        <div class="filter-section">
            <div class="filter-header">
                <input type="text" id="genre-search" placeholder="Search Genre..." class="filter-input">
            </div>
            <div class="filter-options" id="genre-options">
                <!-- looping untuk genres -->
                <th:block th:each="genre : ${genres}">
                    <label>
                        <input type="checkbox" th:value="${genre.genreId}" /> 
                        <span th:text="${genre.name}"></span>
                    </label>
                </th:block>
            </div>
        </div>
    </div>

    <button id="close-dialog" class="close-btn">&times;</button>
</dialog>

  <header class="navbar">
    <div class="nav-left">
      <div class="nav-item logo">
        <img src="assets/img/Logo-Tubes_PBW.png" alt="">
      </div>
      <div class="nav-item">
        <a href="/">HOME</a>
      </div>
      <div class="nav-item active" >
        <a href="/browse">BROWSE</a>
      </div>
      <div class="nav-item" >
        <a href="/">ABOUT US</a>
      </div>
    </div>

    <div class="nav-middle">
      <div class="search-bar">
          <input type="text" placeholder="Search..."/>
          <img src="assets/img/search-bar-logo.png">
      </div>
      <div class="filter">
        <button id="open-dialog" class="open-btn"><img src="assets/svg/filter-logo.svg"></button>
      </div>
    </div>

    <div class="nav-right">
      <a href="/rentals">
        <div class="profile-icon"></div>
      </a>
    </div>
  </header>

  <main class="content">
    <div class="card-container">
      <a th:href="@{'/film/'} + ${film.filmId}" class="card" th:each="film : ${films}">
        <div class="image-placeholder">
          <img th:src="'data:image/jpeg;base64,' + ${film.base64Poster}">
        </div>
        <p th:text="${film.title}"></p>
      </a>
    </div>
  </main>
</body>
</html>
