<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Browse UI</title>
  <link rel="stylesheet" href="css/browsePage.css">
  <script src="js/pengguna/browsePage.js" defer></script>
  
  <!-- tambahan style buat link nya -->
  <style>
    a {
      all: unset;
      cursor: pointer;
    }
  </style>
  <!-- tambahan style buat link nya -->

</head>
<body>

  <dialog id="filter-dialog">
    <div class="filter-container">
      <div class="filter-section">
        <div class="filter-header">
          <input type="text" placeholder="Actor..." class="filter-input">
        </div>
        <div class="filter-options">
          <label><input type="checkbox"> Theo James</label>
          <label><input type="checkbox"> Dian Sastro</label>
          <label><input type="checkbox"> Cillian Murphy</label>
          <label><input type="checkbox"> Nicolas Saputra</label>
        </div>
      </div>
      <div class="filter-section">
        <div class="filter-header">
          <input type="text" placeholder="Genre..." class="filter-input">
        </div>
        <div class="filter-options">
          <label><input type="checkbox"> Action</label>
          <label><input type="checkbox"> Sci-Fi</label>
          <label><input type="checkbox"> Horror</label>
          <label><input type="checkbox"> Romance</label>
          <label><input type="checkbox"> Drama</label>
          <label><input type="checkbox"> Comedy</label>
        </div>
      </div>
    </div>

    <button id="close-dialog" class="close-btn">&times;</button>

  </dialog>

  <header class="navbar">
    <div class="nav-left">

      <!-- nambah link -->
      <div class="nav-item">
        <a href="/">HOME</a>
      </div>
      <div class="nav-item active" >
        <a href="/browse">BROWSE</a>
      </div>
      <!-- nambah link -->

    </div>
    <div class="nav-middle">
      <div class="search-bar">
          <input type="text" placeholder="Search..."/>
      </div>
      <div class="filter">
        <button id="open-dialog" class="open-btn">filter</button>
      </div>
    </div>
    <div class="nav-right">
      <a href="/rentals">
        <div class="profile-icon"></div>
      </a>
    </div>
  </header>
  <main class="content">
    <div class="card-container">
      <div class="card">
        <div class="image-placeholder">
            <img src="assets/img/deadpool&wolverine.jpg" alt="">
        </div>
        <p>Deadpool & Wolverine</p>
      </div>
      <div class="card">
        <div class="image-placeholder">
            <img src="assets/img/interstellar.jpg" alt="">
        </div>
        <p>Interstellar</p>
      </div>
      <div class="card">
        <div class="image-placeholder">
            <img src="assets/img/fightclub.jpg" alt="">
        </div>
        <p>Fight Club</p>
      </div>
      <div class="card">
        <div class="image-placeholder">
            <img src="assets/img/forrestgump.jpg" alt="">
        </div>
        <p>Forrest Gump</p>
      </div>
      <div class="card">
        <div class="image-placeholder">
            <img src="assets/img/pulpfiction.jpg" alt="">
        </div>
        <p>Pulp Fiction</p>
      </div>
      <div class="card">
        <div class="image-placeholder">
            <img src="assets/img/thegodfather.jpg" alt="">
        </div>
        <p>The God Father</p>
      </div>
      <div class="card">
        <div class="image-placeholder">
            <img src="assets/img/12angrymen.jpg" alt="">
        </div>
        <p>12 Angry Men</p>
      </div>
      <div class="card">
        <div class="image-placeholder">
            <img src="assets/img/lordoftherings.jpg" alt="">
        </div>
        <p>Lord of The Rings</p>
      </div>
      <div class="card">
        <div class="image-placeholder">
            <!-- tambah link -->
            <a href="/movie-detail">
              <img src="assets/img/venomlastdance.png" alt="">
            </a>
        </div>
        <p>Venom: The Last Dance</p>
      </div>
    </div>
  </main>
</body>
</html>
