<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Renting Website</title>
  <link rel="shortcut icon" type="png" href="/assets/img/tabLogo.png">
  <link rel="stylesheet" href="css/general.css">
  <link rel="stylesheet" href="css/home.css">
  <script href="js/home.js" defer></script>
   
</head>
<body>
<div class="page-container">
    <div class="logo">
        <img src="/assets/img/logo.png" class="morent">
    </div>
    <header class="navbar">
        <div class="nav-left">
            <!-- nambah link -->
            <div class="nav-item active">
                <a th:href="@{/}">HOME</a>
            </div>
            <div class="nav-item" >
                <a  th:href="@{/browse}">BROWSE</a>
            </div>
        </div>
        <div class="nav-right">
            <th:block th:if="${user != null}">

                <a th:href="@{/rentals}"><img  src ="/assets/svg/user-avatar.svg" class="avatar profile-icon"></a>
                <a th:href="@{/logout}">
                <img src="/assets/svg/logout-icon-admin.svg" class="icon-logout">
                </a>
            </th:block>
            <th:block th:if="${user == null}">
                <!-- If the user is not logged in -->
                <a href="/login"><button>Login</button></a>
            </th:block>
        </div>

    </header>
    

    <main class="main-content">
        <section class="welcome-section">
            <h1>Welcome to <span>MOREnt.</span></h1>
            <p>
                Ayo cari film favorit kamu dan sewa sekarang! Ambil DVD yang kamu sewa<a href="#location-select" class="location-tag"><b></b> di toko offline  
                <strong>MoreEnt. </strong> <br></b></a>
                
            </p>
        </section>

        <section class="popular-films">
            <h2>Film Populer</h2>
            <div class="container-movie">
                <a th:href="@{'/film/'} + ${films[0].filmId}">
                    <img src="https://i.pinimg.com/736x/c9/20/fa/c920fa82da29b3c37fbc4a7ec797d6a3.jpg" alt="">
                </a>
                <a th:href="@{'/film/'} + ${films[1].filmId}">
                    <img src="https://i.pinimg.com/236x/f4/e9/2e/f4e92e389367fdf172bab2d120eb526b.jpg" alt="">
                </a>
                <a th:href="@{'/film/'} + ${films[2].filmId}">
                    <img src="https://i.pinimg.com/236x/f4/e9/2e/f4e92e389367fdf172bab2d120eb526b.jpg" alt="">
                </a>
                <a href="">
                    <img src="https://i.pinimg.com/236x/f4/e9/2e/f4e92e389367fdf172bab2d120eb526b.jpg" alt="">
                </a>
                <a href="">
                    <img src="https://i.pinimg.com/736x/c9/20/fa/c920fa82da29b3c37fbc4a7ec797d6a3.jpg" alt="">
                </a>
            </div>
        </section>
        <br id="location-select">
        <section id="location">
            <div class="location-container">
                <div class="location-text">
                    <div class="location-icon"><img src="/assets/svg/location.svg"></div>
                    <p class="location-title">Lokasi kita</p>
                    <p class="location-desc">Jl. Ciumbuleuit No.94, Hegarmanah, Kec. Cidadap, Kota Bandung, Jawa Barat 40141</p>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3961.128544235783!2d107.6004179!3d-6.8751984!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e6ee129c896d%3A0xb01ca182dac12846!2sUniversitas%20Katolik%20Parahyangan!5e0!3m2!1sid!2sid!4v1736340392398!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
            </div>
        </section>
        
        <section class="borrowing-flow">
            <h2>Langkah Sewa</h2>
            <div class="steps-container">
                <div class="step-card">
                    <h3>1. Daftar</h3>
                    <p>Buat akun Anda dengan cepat dan mudah.</p>
                </div>
                <div class="step-card">
                    <h3>2. Masuk</h3>
                    <p>Login untuk mengakses akun Anda.</p>
                </div>
                <div class="step-card">
                    <h3>3. Jelajahi</h3>
                    <p>Pilih film favorit Anda dari koleksi kami.</p>
                </div>
                <div class="step-card">
                    <h3>4. Sewa & Bayar</h3>
                    <p>Amankan pesanan Anda dan lakukan pembayaran.</p>
                </div>
                <div class="step-card">
                    <h3>5. Ambil</h3>
                    <p>Ambil DVD Anda dari toko kami.</p>
                </div>
                
            </div>
        </section>
        <section class="about-header">
            <h1>About Us</h1>
            <p>Didirikan November 2024, MOREnt. adalah platform penyewaan film online yang menyediakan berbagai koleksi film yang dapat dinikmati semua orang.</p>
            <p>MOREnt. memiliki proses penyewaan yang mudah dan cepat sehingga dapat memenuhi semua kebutuhan hiburan Anda.</p>
            <p>Tim kami, yaitu Angie, Fauzan Sebastian, dan Hayya, memiliki visi untuk menciptakan pengalaman penyewaan film yang mudah dengan website modern.</p>
        </section>
        
        <!-- <section class="about-details">
            <div class="about-card">
                <h2>Our Mission</h2>
                <p>To provide exceptional solutions that empower businesses and individuals to achieve their goals.</p>
            </div>
            <div class="about-card">
                <h2>Our Vision</h2>
                <p>Becoming a leading provider of innovative, user-friendly, and impactful services for a better future.</p>
            </div>
            <div class="about-card">
                <h2>Our Values</h2>
                <ul>
                    <li><strong>Integrity:</strong> We prioritize honesty and transparency in all our interactions.</li>
                    <li><strong>Innovation:</strong> We embrace creativity and strive for excellence.</li>
                    <li><strong>Collaboration:</strong> We value teamwork and working together to achieve success.</li>
                </ul>
            </div>
        </section> -->
  </main>
</div>
</body>
</html>
