<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Log in</title>
</head>
<body>
    <div class="filmBackGroundContainer">
        <div class="filmColumn">
            <img src="../static/assets/deadpool&wolverine.jpg">
            <img src="../static/assets/thedarkknight.jpg">
            <img src="../static/assets/fightclub.jpg">
            <img src="../static/assets/pulpfiction.jpg">
            <img src="../static/assets/deadpool&wolverine.jpg">
            <img src="../static/assets/thedarkknight.jpg">
            <img src="../static/assets/fightclub.jpg">
            <img src="../static/assets/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="../static/assets/interstellar.jpg">
            <img src="../static/assets/inception.jpg">
            <img src="../static/assets/thegodfather.jpg">
            <img src="../static/assets/thegodfather2.jpg">
            <img src="../static/assets/interstellar.jpg">
            <img src="../static/assets/inception.jpg">
            <img src="../static/assets/thegodfather.jpg">
            <img src="../static/assets/thegodfather2.jpg">
        </div>
        <div class="filmColumn">
            <img src="../static/assets/shawshankredemption.jpg">
            <img src="../static/assets/12angrymen.jpg">
            <img src="../static/assets/lordoftherings.jpg">
            <img src="../static/assets/forrestgump.jpg">
            <img src="../static/assets/shawshankredemption.jpg">
            <img src="../static/assets/12angrymen.jpg">
            <img src="../static/assets/lordoftherings.jpg">
            <img src="../static/assets/forrestgump.jpg">
        </div>
        <div class="filmColumn">
            <img src="../static/assets/deadpool&wolverine.jpg">
            <img src="../static/assets/thedarkknight.jpg">
            <img src="../static/assets/fightclub.jpg">
            <img src="../static/assets/pulpfiction.jpg">
            <img src="../static/assets/deadpool&wolverine.jpg">
            <img src="../static/assets/thedarkknight.jpg">
            <img src="../static/assets/fightclub.jpg">
            <img src="../static/assets/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="../static/assets/deadpool&wolverine.jpg">
            <img src="../static/assets/thedarkknight.jpg">
            <img src="../static/assets/fightclub.jpg">
            <img src="../static/assets/pulpfiction.jpg">
            <img src="../static/assets/deadpool&wolverine.jpg">
            <img src="../static/assets/thedarkknight.jpg">
            <img src="../static/assets/fightclub.jpg">
            <img src="../static/assets/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="../static/assets/deadpool&wolverine.jpg">
            <img src="../static/assets/thedarkknight.jpg">
            <img src="../static/assets/fightclub.jpg">
            <img src="../static/assets/pulpfiction.jpg">
            <img src="../static/assets/deadpool&wolverine.jpg">
            <img src="../static/assets/thedarkknight.jpg">
            <img src="../static/assets/fightclub.jpg">
            <img src="../static/assets/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="../static/assets/deadpool&wolverine.jpg">
            <img src="../static/assets/thedarkknight.jpg">
            <img src="../static/assets/fightclub.jpg">
            <img src="../static/assets/pulpfiction.jpg">
            <img src="../static/assets/deadpool&wolverine.jpg">
            <img src="../static/assets/thedarkknight.jpg">
            <img src="../static/assets/fightclub.jpg">
            <img src="../static/assets/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="../static/assets/deadpool&wolverine.jpg">
            <img src="../static/assets/thedarkknight.jpg">
            <img src="../static/assets/fightclub.jpg">
            <img src="../static/assets/pulpfiction.jpg">
            <img src="../static/assets/deadpool&wolverine.jpg">
            <img src="../static/assets/thedarkknight.jpg">
            <img src="../static/assets/fightclub.jpg">
            <img src="../static/assets/pulpfiction.jpg">
        </div>
    </div>
    <div class="loginPageContainer">
        <div class="loginContainer">
            <h2>Log In</h2>
            <form>
                <input type="text" placeholder="username or email">
                <input type="password" placeholder="password">
                <button type="submit">Log in</button>
            </form>
            <div class="registerLink">
                <a href="register.html">Register</a>
            </div>
        </div>
    </div>
</body>
</html>