<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <script src="js/login.js" defer></script>
    <title>Log in</title>
</head>
<body>
    <div class="filmContainer">
        <div class="filmColumn">
            <img src="assets/deadpool&wolverine.jpg">
            <img src="assets/thedarkknight.jpg">
            <img src="assets/fightclub.jpg">
            <img src="assets/pulpfiction.jpg">
            <img src="assets/deadpool&wolverine.jpg">
            <img src="assets/thedarkknight.jpg">
            <img src="assets/fightclub.jpg">
            <img src="assets/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/interstellar.jpg">
            <img src="assets/inception.jpg">
            <img src="assets/thegodfather.jpg">
            <img src="assets/thegodfather2.jpg">
            <img src="assets/interstellar.jpg">
            <img src="assets/inception.jpg">
            <img src="assets/thegodfather.jpg">
            <img src="assets/thegodfather2.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/shawshankredemption.jpg">
            <img src="assets/12angrymen.jpg">
            <img src="assets/lordoftherings.jpg">
            <img src="assets/forrestgump.jpg">
            <img src="assets/shawshankredemption.jpg">
            <img src="assets/12angrymen.jpg">
            <img src="assets/lordoftherings.jpg">
            <img src="assets/forrestgump.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/deadpool&wolverine.jpg">
            <img src="assets/thedarkknight.jpg">
            <img src="assets/fightclub.jpg">
            <img src="assets/pulpfiction.jpg">
            <img src="assets/deadpool&wolverine.jpg">
            <img src="assets/thedarkknight.jpg">
            <img src="assets/fightclub.jpg">
            <img src="assets/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/deadpool&wolverine.jpg">
            <img src="assets/thedarkknight.jpg">
            <img src="assets/fightclub.jpg">
            <img src="assets/pulpfiction.jpg">
            <img src="assets/deadpool&wolverine.jpg">
            <img src="assets/thedarkknight.jpg">
            <img src="assets/fightclub.jpg">
            <img src="assets/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/deadpool&wolverine.jpg">
            <img src="assets/thedarkknight.jpg">
            <img src="assets/fightclub.jpg">
            <img src="assets/pulpfiction.jpg">
            <img src="assets/deadpool&wolverine.jpg">
            <img src="assets/thedarkknight.jpg">
            <img src="assets/fightclub.jpg">
            <img src="assets/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/deadpool&wolverine.jpg">
            <img src="assets/thedarkknight.jpg">
            <img src="assets/fightclub.jpg">
            <img src="assets/pulpfiction.jpg">
            <img src="assets/deadpool&wolverine.jpg">
            <img src="assets/thedarkknight.jpg">
            <img src="assets/fightclub.jpg">
            <img src="assets/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/deadpool&wolverine.jpg">
            <img src="assets/thedarkknight.jpg">
            <img src="assets/fightclub.jpg">
            <img src="assets/pulpfiction.jpg">
            <img src="assets/deadpool&wolverine.jpg">
            <img src="assets/thedarkknight.jpg">
            <img src="assets/fightclub.jpg">
            <img src="assets/pulpfiction.jpg">
        </div>
    </div>
    <div class="loginPageContainer">
        <div class="loginContainer">
            <h2>Log In</h2>
            <form id="loginForm">
                <input type="text" placeholder="username or email">
                <input type="password" placeholder="password">
                <button type="submit" class="loginButton">Log in</button>
            </form>
            <form id="registerForm" class="hidden">
                <input type="text" placeholder="username">
                <input type="text" placeholder="email">
                <input type="password" placeholder="password">
                <input type="password" placeholder="confirm password">
                <button type="submit" class="loginButton">Register</button>
            </form>
            <div class="registerLink" id="toRegisterContainer">
                <button class="toRegister" id="switchToReg">Register</button>
            </div>
            <div class="registerLink hidden" id="toLoginContainer">
                <button class="toRegister" id="switchToLog">Log in</button>
            </div>
        </div>
    </div>
</body>
</html>