<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <script src="js/login.js" defer></script>
    <title>Log in</title>
</head>
<body th:data-form-state="${formState}">
    <div class="filmContainer">
        <div class="filmColumn">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/interstellar.jpg">
            <img src="assets/img/inception.jpg">
            <img src="assets/img/thegodfather.jpg">
            <img src="assets/img/thegodfather2.jpg">
            <img src="assets/img/interstellar.jpg">
            <img src="assets/img/inception.jpg">
            <img src="assets/img/thegodfather.jpg">
            <img src="assets/img/thegodfather2.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/shawshankredemption.jpg">
            <img src="assets/img/12angrymen.jpg">
            <img src="assets/img/lordoftherings.jpg">
            <img src="assets/img/forrestgump.jpg">
            <img src="assets/img/shawshankredemption.jpg">
            <img src="assets/img/12angrymen.jpg">
            <img src="assets/img/lordoftherings.jpg">
            <img src="assets/img/forrestgump.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
        </div>
    </div>
    <div class="loginPageContainer">
        <div class="loginContainer">
            <h2>Log In</h2>
            <!-- form login -->
            <form id="loginForm" action="login" method="post">
                <!-- email -->
                <input type="text" placeholder="email" name="email" required>
                <!-- password -->
                <input type="password" placeholder="password" name="password" required>
                <p th:if="${error}" th:text="${error}"></p>
                <button type="submit" class="loginButton">Log in</button>
            </form>
            <!-- form register -->
            <form id="registerForm" class="hidden" th:object="${user}" th:action="@{/register}" method="post">
                <!-- nama -->
                <input type="text" placeholder="name" name="name" th:field="*{name}" required>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

                <!-- email -->
                <input type="text" placeholder="email" name="email" th:field="*{email}" required>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

                <!-- password -->
                <input type="password" placeholder="password" name="password" th:field="*{password}" required>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

                <!-- confirm pass -->
                <input type="password" placeholder="confirm password" name="confirmpassword" th:field="*{confirmpassword}" required>
                <p th:if="${#fields.hasErrors('confirmpassword')}" th:errors="*{confirmpassword}"></p>

                <button type="submit" class="loginButton">Register</button>
            </form>
            <div class="registerLink" id="toRegisterContainer">
                <button class="toRegister" id="switchToReg">Register</button>
            </div>
            <div class="registerLink hidden" id="toLoginContainer">
                <button class="toRegister" id="switchToLog">Log in</button>
            </div>
        </div>
    </div>
</body>
</html>