<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Register</title>
    <style>
        .loginContainer {
            height: 380px;
        }
    </style>
</head>
<body>
    <div id="filmBackGroundContainer">
        
    </div>
    <div class="loginPageContainer">
        <div class="loginContainer">
            <h2>Register</h2>
            <form>
                <input type="text" placeholder="username">
                <input type="text" placeholder="email">
                <input type="password" placeholder="password">
                <button type="submit">Register</button>
            </form>
            <div class="registerLink">
                <a href="login.html">Log in</a>
            </div>
        </div>
    </div>
</body>
</html>