<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Register</title>
</head>
<body>
    <div class="filmContainer">
        <div class="filmColumn">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/interstellar.jpg">
            <img src="assets/img/inception.jpg">
            <img src="assets/img/thegodfather.jpg">
            <img src="assets/img/thegodfather2.jpg">
            <img src="assets/img/interstellar.jpg">
            <img src="assets/img/inception.jpg">
            <img src="assets/img/thegodfather.jpg">
            <img src="assets/img/thegodfather2.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/shawshankredemption.jpg">
            <img src="assets/img/12angrymen.jpg">
            <img src="assets/img/lordoftherings.jpg">
            <img src="assets/img/forrestgump.jpg">
            <img src="assets/img/shawshankredemption.jpg">
            <img src="assets/img/12angrymen.jpg">
            <img src="assets/img/lordoftherings.jpg">
            <img src="assets/img/forrestgump.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/avatar.jpg">
            <img src="assets/img/wicked.jpg">
            <img src="assets/img/starwars.jpg">
            <img src="assets/img/superman.jpg">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/interstellar.jpg">
            <img src="assets/img/inception.jpg">
            <img src="assets/img/thegodfather.jpg">
            <img src="assets/img/thegodfather2.jpg">
            <img src="assets/img/interstellar.jpg">
            <img src="assets/img/inception.jpg">
            <img src="assets/img/thegodfather.jpg">
            <img src="assets/img/thegodfather2.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/shawshankredemption.jpg">
            <img src="assets/img/12angrymen.jpg">
            <img src="assets/img/lordoftherings.jpg">
            <img src="assets/img/forrestgump.jpg">
            <img src="assets/img/shawshankredemption.jpg">
            <img src="assets/img/12angrymen.jpg">
            <img src="assets/img/lordoftherings.jpg">
            <img src="assets/img/forrestgump.jpg">
        </div>
        <div class="filmColumn">
            <img src="assets/img/avatar.jpg">
            <img src="assets/img/wicked.jpg">
            <img src="assets/img/starwars.jpg">
            <img src="assets/img/superman.jpg">
            <img src="assets/img/deadpool&wolverine.jpg">
            <img src="assets/img/thedarkknight.jpg">
            <img src="assets/img/fightclub.jpg">
            <img src="assets/img/pulpfiction.jpg">
        </div>
    </div>
    <div class="loginPageContainer">
        <div class="loginContainer">
            <h2>Register</h2>
            <!-- form register -->
            <form id="registerForm" th:object="${user}" th:action="@{/register}" method="post">
                <!-- nama -->
                <div class="input-group">
                    <input class="input" type="text" name="name" th:field="*{name}" required>
                    <label class="label" for="name">Name</label>
                </div>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>

                <!-- email -->
                <div class="input-group">
                    <input class="input" type="text" name="email" th:field="*{email}" required>
                    <label class="label" for="email">Email</label>
                </div>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"class="error"></p>

                <!-- password -->
                <div class="input-group">
                    <input class="input" type="password" name="password" th:field="*{password}" required>
                    <label class="label" for="password">Password</label>
                </div>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></p>

                <!-- confirm pass -->
                <div class="input-group">
                    <input class="input" type="password" name="confirmpassword" th:field="*{confirmpassword}" required>
                    <label class="label" for="confirmpassword">Confirm Password</label>
                </div>
                <p th:if="${#fields.hasErrors('confirmpassword')}" th:errors="*{confirmpassword}" class="error"></p>

                <button type="submit" class="loginButton">Register</button>
            </form>
            <div class="registerLink" id="toLoginContainer">
                <a href="/login">
                    <button class="toRegister" id="switchToLog">Log in</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>