<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/admin/mainLaporan.css">
    <title>Laporan Bulanan</title>

    <style>
        a {
            all: unset;
        }
    </style>

</head>
<body>
    <div class="page-container">
        <div class="logo">
            <img src="/assets/img/logo.png" class="morent">
        </div>
        <header class="navbar">
            <div class="nav-left">
                <!-- nambah link -->
                <div class="nav-item">
                <a href="/admin">HOME</a>
                </div>
                <div class="nav-item" >
                <a href="/admin/manage-movie">MANAGE FILM</a>
                </div>
                <div class="nav-item">
                <a href="/admin/manage-genres">GENRE & ACTOR</a>
                </div>
                <div class="nav-item active" >
                <a href="/admin/report">GRAPH & REPORT</a>
                </div>
            </div>
            <div class="nav-right">
                <img src ="/assets/svg/user-avatar.svg" class="avatar">
                <a href="/">
                <img src="/assets/svg/logout-icon-admin.svg" class="icon-logout">
                </a>
            </div>
            <!-- nambah link -->
        </header>
        <div class="main-content">
            <div class="main-left-section menu">
                <!-- tambahan link -->
                <a href="/admin/film-graph">
                    <img src="/assets/svg/graph-main.svg" class="grafik-img">
                    <h2 class="left-section-title">Grafik Penyewaan</h2>
                </a>
                <!-- tambahan link -->

            </div>
            <div class="main-right-section menu">
                <!-- tambahan link -->
                <a href="/admin/monthly-report">
                    <img src="/assets/svg/laporan-main.svg" class="laporan-img">
                    <h2 class="right-section-title">Laporan Bulanan</h2>
                </a>
            </div>
        </div>
    </div>
</body>
</html>